---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <h1 class="font-hero py-5 text-xl text-black font-bold mx-16">Services</h1>
  <div class="pt-10" x-data="{ open: false }">
    <section class="mx-16 p-10 relative bg-brown/50">
      <div class="flex flex-row justify-items-center text-center mt-2">
        <div class="text-left overflow-hidden text-ellipsis">
          <h2 class="lg:text-3xl text-xl font-semibold py-5">Legal help</h2>
          <p class="py-5">
            In Design denmark we fight like no other to protect the rights of
            designers.
            <br><b>Peer-to-peer advisory service:</b> Get access to Denmark’s best peer-to-peer
            advisory service with experienced designers covering all sorts of legal
            matters related to design work.

            <br />
            <b>Legal help:</b> We collaborate with and offer discounts for legal
            help from the best lawyers in the field of IP legislation.

            <br /><b>Contract templates:</b> As a member you also get access to specialized
            contract templates designed to suit the needs of the design industry.
          </p>
          <button
            class="rounded-lg p-2 drop-shadow-md bg-blue text-white"
            @click="open = ! open">Read more</button
          >
        </div>
      </div>
      <div x-show="open">
        <b>Counseling from Design denmark’s Legal Committee</b>

Design denmark’s Legal Committee advises in professional disputes between members and customers and in cases concerning compliance with the association’s ethical and collegial rules.

The committee also participates as an advisor in the organization of competitions in accordance with national and international cooperation agreements.

Design denmark’s Legal Committee consists of members of the association, who together possess many years of experience from the design industry with a detailed insight into the industry’s many disciplines and niches and their related legal matters.
<br>
<br>
<b>Syn & Skøn </b>

  As a member of Design denmark you can apply to become a member of our Syn & Skøn corps which services the Danish courts and Designnævnet in design disputes. As a Syn & skøn assessor, you have the opportunity to be offered assessor assignments within your field of expertise. Payment for the assignment is settled directly with the person requesting the assignment.
      <br>
      <br>
      <b>Gorrissen Federspiel</b>
      Gorrissen Federspiel is a leading Danish law firm with strong international relations and advises on all areas of Danish and EU business law. Gorrissen Federspiel always provides the strongest team of specialists across all practice areas for the given assignment. The high level of professionalism and specialist skills among Gorrissen Federspiel’s lawyers is the foundation for the advice, and on top of this comes a broader business understanding of the individual client’s business and insight into a particular sector or industry.

As a client of Gorrissen Federspiel, you are always guaranteed the most optimal approach to and solution to all legal issues. Gorrissen Federspiel has offices in both Copenhagen and Aarhus.

Members of Design denmark are offered:
<li>
  <ul>½ hour free legal hotline twice a year.</ul>
  <ul>7 hours of advice at a reduced price for more time-consuming tasks (“klippekort”).</ul>
  <ul>Preparation of standard employment contracts (salaried employees without special terms and conditions) at a reduced price.</ul>
  <ul>Filing of design and trademark applications in Denmark at a reduced price.</ul>
  <ul>Discount on fees in connection with registration of designs and registration of trademarks abroad.</ul>
</li>
<br>
<br>
<b>Contract templates</b>
Design denmark has the best selection of contract templates for all the various design needs.

As a member you have access to and can freely use
<br>
<li>
  <ul>NDA/ Fortrolighedsaftale EN, DA</ul>
  <ul>Standard samarbejdsaftale EN, DA</ul>
  <ul>Freelanceaftale DA</ul>
  <ul>Royaltykontrakter IPR beholdes af designeren EN, DA</ul>
  <ul>Royaltykontrakter IPR overdrages til kunden EN, DA</ul>
  <ul>Royaltykontrakt med rammeaftale DA</ul>
  <ul>Funktionærkontrakt DA</ul>
  <ul>Kombineret kunde- og konkurrenceklausul EN, DA</ul>
  <ul>Praktikkontrakt med løn DA</ul>
</li>
<br>As a member of Design denmark, you can instead avoid the paper solution and choose to gain access to Connie with great benefits. Connie is the Danish eSign and document management platform for creators and creatives. It also has all Dd’s contract templates made digital and compliant. The benefits are 3 months free and 20% discount on the ongoing subscription on any plan, and more.
<br>
<br>
<b>BUGGE VALENTIN</b>
<br>Design denmark gives new customers a free 1-hour initial consultation*. In addition, BUGGE VALENTIN offer a 20% discount on subsequent hourly rates.

BUGGE VALENTIN is one of the leading Danish full-service IP and marketing law boutique law firms covering the full spectrum of IP, including trademarks, copyrights, designs and patents. They are highly specialized and only work within these specialities.

BUGGE VALENTIN drafts contracts, assists with registration, monitoring and maintenance of trademark and design rights, among others, and conducts litigation and disputes regarding IP rights. The firm consists of 10 lawyers, two trademark administrators and a number of law students. For many years, BUGGE VALENTIN has represented some of the most well-known Danish designers/right holders and assisted them with strategy, registration and maintenance of rights, conclusion and interpretation of agreements and represented them in disputes, including arbitration and litigation.

BUGGE VALENTIN’s IP team is led by partners Anders Valentin and Jens Jakob Bugge. Please state your membership when contacting the company.
<br>
<br>
<b>LØJE IP</b>
<br>LØJE IP is a full-service law firm within Intellectual Property Law dedicated to rights holders and creative companies. LØJE IP handles cases related to the establishment and enforcement of IP rights. LØJE IP represents many small and large Danish designers and a wide range of design-oriented companies.

The advice is targeted at IP-oriented companies and primarily includes design and trademark protection and litigation in Denmark and abroad, both within design, trademarks, copyrights and patents. LØJE IP also has extensive experience drafting royalty, distributor and agent agreements, and establishing design companies, including drafting co-ownership agreements between designers.

LØJE IP has 30 years of experience in advising designers and design companies.

LØJE IP offers new customers a free one-hour initial consultation and a half-hour annual hotline service for existing customers. Assignments are otherwise settled according to current hourly rates but with due consideration for the size of the assignment.
<br>
<br>
<b>Pension</b>
<br>
Design denmark offers you guaranteed access to a highly attractive pension scheme at Danica Pension.

Specifically, the agreement provides the following benefits:
<br>
<li>
  <ul>Favorable prices on pension and insurance solutions</ul>
  <ul>ttractive products and services</ul>
  <ul>Improved coverage in the event of loss of earning capacity. Danica Pension is the only company that increases the payout in job assessment and resource courses by an annual amount. The amount is determined individually and can be a maximum of the rate that non-dependents can receive from the public sector in the form of resource allowance.</ul>
  <ul>Guidance on all collective agreement issues in relation to pension</ul>
  <ul>VIP and management advice in areas such as tax optimization, wealth management and investment</ul>
  <ul>App where you and your employees can quickly get an overview of how you are covered</ul>
</li>
<br>
For more info, see your member page.
</div>
    </section>
  </div>
  <div x-data="{ open: false }">
    <section class="m-16 p-10 pt-10 relative bg-brown/50">
      <div class="flex flex-row justify-items-center text-center mt-2">
        <div class="text-left overflow-hidden text-ellipsis">
          <h2 class="lg:text-3xl text-xl font-semibold py-5">Legal help</h2>
          <p class="py-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
            dicta magni, quaerat ad at unde similique, animi amet saepe porro
            quo! Distinctio, vero quos!
          </p>
          <button
            class="rounded-lg p-2 drop-shadow-md bg-blue text-white"
            @click="open = ! open">Read more</button
          >
        </div>
      </div>
      <div x-show="open">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero eius
        molestiae voluptatum provident impedit facere quibusdam fugiat in ut.
      </div>
    </section>
  </div>
  <div x-data="{ open: false }">
    <section class="m-16 p-10 pt-10 relative bg-brown/50">
      <div class="flex flex-row justify-items-center text-center mt-2">
        <div class="text-left overflow-hidden text-ellipsis">
          <h2 class="lg:text-3xl text-xl font-semibold py-5">Legal help</h2>
          <p class="py-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
            dicta magni, quaerat ad at unde similique, animi amet saepe porro
            quo! Distinctio, vero quos!
          </p>
          <button
            class="rounded-lg p-2 drop-shadow-md bg-blue text-white"
            @click="open = ! open">Read more</button
          >
        </div>
      </div>
      <div x-show="open">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero eius
        molestiae voluptatum provident impedit facere quibusdam fugiat in ut.
      </div>
    </section>
  </div>
</MainLayout>
