---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
<<<<<<< HEAD
	<body class="p-0">
=======
	<body class="pt-4 px-4 bg-[url('/bullet-bg.svg')]">
>>>>>>> d0def9ed366150ad360bae4de1b06b4cd1a1589c

		<header class="">
			<Header/>
		</header>
		
<<<<<<< HEAD
		<main class="lg:ml-36 lg:pt-0 pt-16 ">
=======
		<main class="container max-w-2xl mx-auto pt-8 flex">
>>>>>>> d0def9ed366150ad360bae4de1b06b4cd1a1589c
			<slot />
		</main>

		<footer class="lg:ml-36 bg-blue">
			<Footer/>
		</footer>

			
	</body>
</html>
